.menu-wrapper
  .container-fluid
    .row
      .col-xs-12.col-md-6.col-sm-6
        = render :partial => '/layouts/menu_column', :locals => {:menu_item => @menu["PIZZA"], :anchor_link => "pizza-menu" , :no_first_lavel_title => false,  :edit_menu => false}
      .col-xs-12.col-md-6.col-sm-6
        = render :partial => '/layouts/menu_column', :locals => {:menu_item => @menu["LUNCH/DINNER"], :anchor_link => "lunch-dinner-menu", :no_first_lavel_title => true,  :edit_menu => false }
      .col-xs-12.col-md-6.col-sm-6
        = render :partial => '/layouts/menu_column', :locals => {:menu_item => @menu["BREAKFAST (COMING SOON)"] , :anchor_link => "breakfast-menu" , :no_first_lavel_title => false,  :edit_menu => false}
      .col-xs-12.col-md-6.col-sm-6
        = render :partial => '/layouts/menu_column', :locals => {:menu_item => @menu["HOT BEVARAGES"] ,:anchor_link => "hot-bavarages-menu" , :no_first_lavel_title => false,  :edit_menu => false}
        = render :partial => '/layouts/menu_column', :locals => {:menu_item => @menu["COLD BEVARAGES"], :anchor_link => "cold-bavarages-menu" , :no_first_lavel_title => false,  :edit_menu => false}
